
#nav-menu {
    width: fit-content;
    margin: 20px 40px;
    padding: 0;
    list-style-type: none;
}

#nav-menu a {
    display: block;
    padding: 30px 55px;
    padding-left: 80px;
    
    background-color: #808080;
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 12px 13px;

    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
}

#nav-menu a:hover {
    background-color: #5e5e5e;
}

#edit {
    background-image: url('icons/edit.png');
}

#favorites{
    background-image: url('icons/favorites.png');
}

#history{
    background-image: url('icons/history.png');
}

#security{
    background-image: url('icons/security.png');
}

#settings{
    background-image: url('icons/settings.png');
}
